<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <application
        android:theme="@style/Theme.LuckySpot">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDahuyC2u9sFDwPBSs7R0YV1CRgEy-lo4k" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Splash Activity - LAUNCHER (Entry Point) -->
        <activity
            android:name=".activities.entrant.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.LuckySpot.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Shared Activities -->
        <activity
            android:name=".activities.shared.ProfileSetupActivity"
            android:screenOrientation="portrait"/>

        <!-- Entrant Activities -->
        <activity android:name=".activities.entrant.MainActivity" />
        <activity android:name=".activities.entrant.EventDetailsActivity" />
        <activity android:name=".activities.entrant.BrowseEventsActivity" />
        <activity android:name=".activities.entrant.SettingsActivity" />
        <activity android:name=".activities.entrant.MyEventsActivity" />

        <!-- Organizer Activities -->
        <activity android:name=".activities.organizer.OrganizerEventDetailsActivity" />
        <activity android:name=".activities.organizer.CreateEventActivity" />
        <activity android:name=".activities.organizer.QRCodeDisplayActivity" />
        <activity android:name=".activities.organizer.OrganizerEventsActivity" />
        <activity android:name=".activities.organizer.ViewEntrantsActivity" />


        <!-- Admin Activities -->
        <activity android:name=".activities.admin.AdminHomeActivity" />
        <activity android:name=".activities.admin.AdminBrowseEventsActivity" />
        <activity android:name=".activities.admin.AdminBrowseUsersActivity" />
        <activity android:name=".activities.admin.AdminBrowseImagesActivity" />
        <activity android:name=".activities.admin.AdminEventDetailsActivity" />
        <activity android:name=".activities.admin.AdminGeolocationAuditActivity" />
        <activity android:name=".activities.admin.AdminNotificationLogsActivity" />
        <activity android:name=".activities.admin.AdminNotificationTemplatesActivity" />

        <activity
            android:name=".activities.entrant.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.organizer.ViewEntrantMapActivity"
            android:exported="false"
            android:theme="@style/Theme.LuckySpot" />

        <!-- FileProvider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>